-#ユーザーログイン画面

!!!
%html{lang: "ja-JP"}

  -#head要素の記述はapplication.html.hamlにて記載

  %body

    -#表示部分全体
    .Single-Container

      -#ヘッダーのロゴ部分（部分templateを参照）
      = render partial: "/layouts/userheader"

      -#ヘッダー以下、フッター直上まで
      %main.Single-Main

        -#ログイン関連の入力欄部分全体
        .Login-Panel

          -#「アカウントをお持ちでない方はこちら」部分
          .Login-No-Account
            %p アカウントをお持ちでない方はこちら
            -#別途作成の新規登録画面が完成しだいリンク先変更
            = link_to "新規会員登録", "/"

          -#メアド、PW、「ログイン」ボタン、パスワードをお忘れの方
          %form{action: "/jp/login/", method: "POST", novalidate: "novalidate"}

            -#入力欄部分全体
            .Login-Form-Inner

              -#入力欄のクラス（メアド、PW、ロボットでないで共通）
              -#メアド入力欄クラス
              .Form-Group
                %input.Login-Input-Text.Input-Default{name: "email", placeholder: "メールアドレス", type: "email", value: ""}
              -#PW入力欄クラス
              .Form-Group
                %input.Login-Input-Text.Input-Default{name: "password", placeholder: "パスワード", type: "password"}
              -# -#ロボットでないチェック欄クラス（割愛）

              -#「ログイン」ボタン
              %button.Login-Submit.Btn-Default.Btn-Red{type: "submit"} ログイン
              %input{name: "__csrf_value", type: "hidden", value: "/"}

              -#「パスワードをお忘れの方」リンク
              -#別途作成の画面が完成しだいリンク先変更
              = link_to "パスワードをお忘れの方", "/"


      -#フッター部分＝リンク集、ロゴ、登録商標（部分templateを参照）
      %footer.Single-Footer
        = render partial: "/layouts/userfooter"


