// Place all the styles related to the sells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
}


.Header {    //トップページヘッダー部分の装飾
  padding: 0 60px;

  //Headerクラス以下のトップページヘッダー部分は、部分template「mainheader.scss」で記述
}


.MainVisual {    //「人生を変えるフリマアプリ」の広告部分の装飾
  width: 100%;
  height: 560px;
  background-image: url(/bg-mainVisual-pict_pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 60px;
  display: flex;
  align-items: center;

  .Content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;

    &__Subtitle {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }

    &__Text {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      padding: 0;
      display: block;
    }

    &__Btn {
      display: flex;
      margin: 24px 0 0 0;

      .AppleBtn {
        vertical-align: bottom;
        width: 180px;
      }

      .GoogleBtn {
        width: 205px;
        margin-top: -12px;
      }
    }
  }
}


.TopIntroduction {    //「FURIMAが選ばれる3つの理由」の案内部分の装飾
  padding: 60px 20px;
  height: 647.188px;

  .Subtitle {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin: 0 0 25px 0;
    padding-bottom: 15px;
    position: relative;
  }

  .Subtitle::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .Lists {
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    .List {
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__Pict {
        position: relative;
        margin-bottom: 20px;
        text-align: left;

        .Number {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }

        img {
          width: 100%;
          vertical-align: bottom;
        }
      }

      &__Text {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;

        span {
          color: #3CCACE;
        }
      }

      &__Description {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }

    .List.List--Last {
      margin: 16px 0 0;
    }
  }
}


.TopMiddleDl{    //「会員数日本一位」の紹介部分の装飾
  background-image: url(/bg-topMiddleDl-pict.jpg);
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;

  &__Inner {
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;

    &__Subtitle {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }

    &__Text {
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }

    &__Btn {
      display: flex;
      width: 180px;

      .AppleBtn {
        vertical-align: bottom;
        width: 180px;
      }

      .GoogleBtn {
        width: 205px;
        margin-top: -12px;
      }
    }
  }
}


.Features {    //「FURIMAの特徴」紹介部分の装飾
  padding: 60px 100px;
  background-color: #fff;
  font-family :Helvetica;

  .Head {
      font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;

    &::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .Items {
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;

    .Item {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0 20px;
    
      &__Subtitle {
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
    
      &__Detail {
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
    
      &__Img {
        width: 70%;
        margin: 0 auto;
        line-height: 120px;

        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
}


.PickupContainer{    //「ピックアップカテゴリー」「ピックアップブランド」紹介部分の装飾
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;

  .Head {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .ProductBox{
    padding-bottom: 30px;
    .ProductHead{
      text-align: center;

      .Title {
        text-decoration: none;
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: #3CCACE;
      }
    }

    .ProductLists{
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;

      .ProductList{
        width: 220px;
        display: inline-block;
        float: left;

        .a {
          background-color: #fff;
          display: inline-block;
          text-decoration: none;
          position: relative;

        .Sold-Out{
          position: absolute;
          top:0;
          left: 0;
          z-index: 3;
          background-color: rgb(234, 53, 45);
          opacity:0.7;
          color: #fff;
          text-align: center;
          padding: 0 5px;
        
        }

          .ProductList--img{
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;

            img{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }

          .ProductList--body{
            background-color: white;
            color: #333;
            padding: 16px;

            .Name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }

            .Details{
              font-size: 16px;

              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
              }
            }

            p{
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

//トップページフッター部分は、部分template「mailfooter.scss」で記述

// .Banner {    //Footer直上のバナー部分の装飾
// .Footer {    //トップページ下部の黒地のリンク集部分
// .PurchaseBtn {    //トップページ画面右下の「出品する」ボタン


.PurchaseBtn {    //トップページ画面右下の「出品する」ボタン
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;

  &__Text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  &__Icon {
    width: 60%;
  }
}


//ここから、商品購入確認画面（=items/purchase.html）の装飾
.Purchase {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);

  .Purchase-Verification {
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    margin: 0px auto;
    width: 100%;

    .Title {

      .Purchase-Common {
        margin: 0px auto;
        padding: 32px 16px;
        max-width: 375px;
        border-top: 1px solid rgb(245, 245, 245);

        h2 {
          display: block;
          text-align: center;
          font-size: 24px;
          line-height: 34px;
          font-weight: 600;
        }

        .Purchase-Content {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;

          .Image {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            height: 80px;
            width: 80px;
            -webkit-box-align: center;
            align-items: center;

            .Image-Frame {
              height: 80px;
              width: 80px;
              border-radius: 4px;
              display: inline-block;
              overflow: hidden;
              margin: 0;    //これを追記しないと効かない（画像が表示されない）

              img {
                height: 100%;
                object-fit: cover;
                transition-duration: .1s;
                transition-property: opacity;
                transition-timing-function: ease-in-out;
                width: 100%;
              }
            }
          }

          .Text {
            width: 100%;
            margin-left: 16px;

            &__Name {
              font-size: 14px;
              line-height: 1.4em;
              margin-bottom: 8px;
            }

            &__Money {
              text-align: right;

              &__Shipping {
                font-size: 12px;
              }

              &__Number {
                font-size: 15px;
                font-weight: 600;
                margin-left: 8px;
              }
            }
          }
        }


        .Money-Zone {
          display: flex;
          font-size: 18px;
          font-weight: 600;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;
          margin-bottom: 24px;

          &__Number {
            font-size: 24px;
          }
        }


        .Point {
          margin-top: 16px;
          font-size: 14px;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          justify-content: space-between;

          .Point-Zone {
            cursor: not-allowed;

            &__Sub {
              color: #888;
              cursor: default;
              margin-right: 8px;
              vertical-align: middle;
              align-items: flex-start;
              display: inline-flex;
              font-size: 14px;
              line-height: 20px;

              &__Left {
                display: inline-block;
                flex: 0 0 auto;
                height: 20px;
                position: relative;
                width: 20px;

                input {
                  background-color: #ccc;
                  border-color: #ccc;
                  cursor: default;
                  border-radius: 2px;
                  transition-duration: .1s;
                  transition-timing-function: ease-in-out;
                  appearance: none;
                  border: 1px solid #ccc;
                  height: 100%;
                  margin: 0;
                  position: absolute;
                  transition-property: background-color,border-color;
                  width: 100%;
                  font-family: inherit;
                  font-size: 100%;
                  padding: initial;
                  text-rendering: auto;
                  letter-spacing: normal;
                  word-spacing: normal;
                  text-transform: none;
                  text-indent: 0px;
                  text-shadow: none;
                  display: inline-block;
                  text-align: start;
                  -webkit-rtl-ordering: logical;
                  font: 400 13.3333px Arial;
                }
              }
            }

            img {
              height: 14px;
              width: 14px;
              margin-right: 4px;
              opacity: 0.5;
              vertical-align: middle;
            }

            .Point-Text {
              display: inline-block;
              font-weight: 600;
              line-height: 1.4em;
              vertical-align: middle;
              opacity: 0.5;
            }
          }

          .Point-Btn {
            -webkit-box-align: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(234, 53, 45);
            border-radius: 4px;
            color: rgb(234, 53, 45);
            display: inline-flex;
            font-size: 14px;
            font-weight: 600;
            height: 32px;
            -webkit-box-pack: center;
            justify-content: center;
            max-width: 164px;
            pointer-events: auto;
            width: 100%;
            text-decoration: none;
          }

          .Point-Possession {
            font-size: 12px;
            text-align: right;
            line-height: 1.6;
            margin-left: 16px;
            flex: 1 1 0%;
          }
        }

        .Purchase-Secondary {
  
          &__Up {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 16px;

            &__Text {
              font-size: 14px;
              font-weight: 600;
            }
          }

          &__Down {
            .Purchase-Secondary-Btn {
            color: rgb(0, 149, 238);
            -webkit-box-align: center;
            align-items: center;
            opacity: 1;
            pointer-events: auto;
            text-decoration: none;
            }
          }
        }

        .Purchase-Tertiary {

          p {
            max-width: 375px;
            color: rgb(136, 136, 136);
            line-height: 1.5;
            margin-bottom: 24px;
            font-size: 12px;
            b {
              font-weight: 600;
            }
          }

          .Caution  {
            color: rgb(255, 2, 17);
            line-height: 1.5;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}

.purchase-btn{
  background-color: #ea352d;
  color: #fff;
  width: 100%;
  font-size: 17px;
  min-height: 48px;
  padding: 24px 24px;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition-property: background-color,border-color,color;
  vertical-align: middle;
  white-space: nowrap;
  word-break: break-word;
}


//ここから、商品出品画面（=items/sell.html）の装飾
//ヘッダー装飾
.Multiple-Container{
  background-color: #f5f5f5;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

//メイン
.Product-Listings{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  padding-top: 30px;
}

.Product-Listing{
  padding:0 40px 40px 40px;
  &__Subtitle{
    color: #a19f9f;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
  }
  &__Inside{ 
    &__Title{
      margin-top: 20px;
      font-weight: 600;
      font-size: 14px;
      color: #333333;
      padding: 10px 0;
      display: flex;
      align-items: center;
      .Iten-Up__Require{
        background: #ea352d;
        margin: 0 0 0 8px;
        padding: 0.5px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 11px;
        vertical-align: top;
      }
      .Iten-Up__Optinal {
        background: #a19f9f;
        margin: 0 0 0 8px;
        padding: 0.5px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 11px;
        vertical-align: top;
      }
    }
    &__MaxFhoto{
      font-size: 14px;
      padding-bottom: 20px;
    }
    &__FhotoForm{
      width: 100%;
      height: 160px;
      border: 1px dashed #ccc;
      text-align: center;
      font-size: 12px;
      color: #333333;
      background-color: #f5f5f5;
      //padding: 60px 0 60px 0;
      .FhotoForm__Image-UpLoad{
        width: 100%;
        height: 100%;
        padding-top: 40px; 
        .FhotoForm__Image-UpLoad__Icon{
          display: inline-block;
          width: 24px;
          height: 24px; 
        }
      }
     }
    &__Write{
      &__form input{
        width: 620px;
        padding: 12px 12px;
        border: 1px solid #ccc;
        border-radius: 3px;}
    }
    &__Select::placeholder{
      padding: 0.5em;
      border: 1px solid #ccc;
      width: 100%;
      height: 240px;
    }
    &__Select{
      &__Form select{
        width: 620px;
        height: 45px;
        border: 1px solid #ccc;
        border-radius: 3px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-left: 10px;
      }
      &__Form {
        position: relative;
        margin-bottom: 15px;
        .Arrow {

          position: absolute;
          top: 12px;
          left: 590px;
        }
      }
    }
  }
  &__Price{
    &__Form{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
  }
  &__Send{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}


//アンダーライン
.Product-Listing-UnderLine {
  border: 1px solid #f5f5f5;
  
}

//商品の説明装飾
  //①フォーム大きさ調整
.Item-Form-Expect{
  padding: 13px 24px ;
  border: 1px solid #ccc;
  width: 100%;
  height: 140px;
  border-radius: 3px;
}
  //②最大文字数表示
.Writing-Max{
  font-size: 12px;
  color: #a19f9f;
  padding: 15px 0 15px 560px;
}

//販売価格の調整
  //①販売価格の位置調整
.Price-Display{
  margin-bottom: 20px;
}
  //②販売価格の¥調整
.Money-Unit{
  padding: 0 0 0 30px;
  display: inline-block;
}
  //③販売価格のフォーム調整
.Price-Form input{
  width: 200px;
  height: 45px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: right;
}
.Price-Form{
  display: inline-block;
  margin: 20px 0;
}

//出品ボタン装飾
.Exhibit-Button{
  margin-bottom: 50px;
  width: 50%;
  height: 50px;
  border-radius: 4px;
  background: #ea352d;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  border: none;
  display: inline-block;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

//戻るボタン装飾
.Return-Button{
  display: block;
}

//？マーク装飾
.Furima-Guide{
  width: 16px;
  height: 16px;
  fill: #0099e8;
  vertical-align: middle;
  padding-left: 5px;
}

//警告文装飾
.Product-Notes{
  width: 88%;
  margin: 0 auto;
  font-size: 12px;
  color: #a19f9f;
  padding: 60px 0;
}

//青文字装飾
.Blue-Character{
  color: #0099e8;
  text-decoration: none;
}

//プレビュー表示欄のCSS
#previews{
  display:flex;
  height:160px;
  overflow: hidden;
  .preview-box{
    width: 20%;
    height: 100%;
    flex-shrink: 0;
    .upper-box{
      height:85%;
      img{
        height:85%;
        width: 100%;
      }
    }
    .lower-box {
      display: flex;
      text-align: center;
      .update-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
      .delete-box {
        color: #00b0ff;
        width: 50%;
        height: 50px;
        border: 1px solid #eee;
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}



//ここから、商品詳細画面（=items/item_details.html）の装飾
.detailsHeader {    //トップページヘッダー部分の装飾
  padding: 0 60px;

  //Headerクラス以下のトップページヘッダー部分は、部分template「mainheader.scss」で記述
}

.Item-Box-Container{
  background: #f8f8f8;

  .Item-Main-Content{
    padding: 40px;
    margin: 0 auto;

    .Content-Leftqq{
    }

    .Content-Right{
      width: 700px;
      margin: 0 auto;

      .Top-Content{
        .Item-Box{
          background-color: #fff;
          padding: 24px 40px 40px;

          &__Name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }

          &__Body{
            margin: 16px 0 0;

            .Owl-Stage-Outer{
              display: flex;
              position: relative;
              list-style: none;

              .Owl-Stage{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;

                .Owl-Lazy{
                  object-fit: cover;
                  height: 346px;
                  }

                  .Owl-Item-Inner{
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;

                  .Luminous-Gallery{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 25%;
                    margin: 0 10px 0 0;

                    .under-Lazy{
                      object-fit: cover;
                      height: 87px;
                      width: 140px;
                    }
                  }
                }
              }
            }
          }

          &__Price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;

            .Price{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }

            .Item-Box-Price-Detail{
              font-size: 16px;
            }
          }

          .item-buy-btn{
            font-size: 24px;
            line-height: 60px;
            display: block;
            margin-top: 16px;
            margin-bottom: 16px;
            background: #ea352d;
            color: #fff;
            text-align: center;
            font-weight: 600;
            transition: all ease-out .3s;
            text-decoration: none;
          }

          .soldout-btn{
            background: #888888;
          }

          .Item-Detail{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }

          .Table{
            margin-bottom: 20px;

            table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;

              tbody{
                tr{
                  th{
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }

                  td{
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    .cate{
                      text-decoration: none;
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
          }

          .Optional-Area{
            display: flex;
            justify-content: space-between;

            .favorite{
              margin: 10px 0 0;
              display: flex;
              list-style: none;

              .Like-Btn.Optional-Btn.Like-Btn{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
            }

            .Optional{
              margin: 10px 0 0;
              display: flex;
              list-style: none;

              .Optional-Btn{
                font-size: 14px;

                .Inappropriate{
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
        }

        .Comment-Box{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;

          .Comment-Contents{
            list-style: none;
          }

          .New_Comment{
            .comment_body{
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }

            .Notice-Msg{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }

            .Comment-Btn{
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
            }
          }
        }
      }

      .Links{
        .back-Btn{
          float: left;

          .link-Btn{
            text-decoration: none;
            color: #3CCACE;
          }
        }

        .Next-Btn{
          float: right;

          .link-Btn{
            text-decoration: none;
            color: #3CCACE;
          }
        }
      }

      .Links::after{
        display: block;
        content: "";
        clear: both;
      }

      .Related-Items{
        .Relateds{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }

        .ProductLists{
          .ProductList{
            margin: 0 0 10px;
            float: left;
            width: calc(100% / 3);

            .User-Itme-Id{
              display: block;
              margin: 24px 0 8px;
              color: #3CCACE;
              text-decoration: none;
              font-weight: bold;
              font-size: 22px;
              position: relative;

              .ProductList--Img{
                background-color: #fff;
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;

                .User-Itme-Id-img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }

              .ProductList--Body{
                background-color: white;
                color: #333;
                padding: 16px;

                .Name{
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }

                .Details{
                  font-size: 16px;

                  ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    li{
                      .fa{
                      }
                    }
                  }

                  p{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }

      .Related-Items::after{
        display: block;
        content: "";
        clear: both;
      }
    }
  }

  .Item-Main-Content::after{
    display: block;
    content: "";
    clear: both;
  }
}


