// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
}


//ここから、ユーザーログイン画面（=users/login.html）の装飾
.Single-Container {    //表示部分全体の親クラス
  padding: 0 0 220px;

  //Single-Containerクラス以下のユーザー関連ページヘッダー部分は、部分template「userheader.scss」で記述

  .Single-Main {    //メインコンテンツ部分全体のクラス
    display: block;

    .Login-Panel {
      max-width: 456px;
      margin: 0 auto;
      background: #fff;
    
      form {
        .Login-Form-Inner .Form-Group:first-child {
          margin: 0;
        }
      }
    
      a {
        display: block;
        margin: 40px 0 0;
        color: #0099e8;
        text-decoration: none;
      }

      .Login-No-Account {
        padding: 25px 63px;
        text-align: center;
      
        p {
          font-size: 14px;
        }
      
        a {
          display: block;
          margin: 8px 0 0;
          border-radius: 4px;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
        }
      }

      .Login-Form-Inner {
        padding: 32px 64px;
        border-top: 1px solid #eee;
        background-color: #fff;

        .Btn-Default {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border-radius: 4px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }

        .Login-Submit {
          margin: 24px 0 0;
        }

        .Btn-Red {
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
        }

        .Form-Group {
          margin: 24px 0 0;

          .Input-Default {
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
      }
    }
  }


  .Single-Footer {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    width: 456px;
    height: 220px;
    margin: 0 auto;
  }
}


//ここから、ユーザーログアウト画面（=users/logout.html）の装飾

//ヘッダー部分のクラス名は「%header.LogoutHeader」とする（内容はtopページヘッダーと同じ）
.LogoutHeader {    //topページヘッダー部分の装飾（クラス名は「LogoutHeader」）
  padding: 0 60px;

  //LogoutHeaderクラス以下のトップページヘッダー部分は、部分template「mainheader.scss」で記述
}


//コンテンツ表示部分のクラス名は「%main.l-container.clearfix」とする
.l-container {
    margin: 40px auto 0;
    width: 700px;
    padding: 0 0 40px;
    display: block;

  .l-content {
      float: none;    //左右に並べる状態を外す
      width: 700px;
  }

  .l-chapter-container:first-child {
    margin: 0;
  }

  .l-chapter-container {
    margin: 40px 0 0;
    background: #fff;
  }

  .l-single-inner {
      padding: 64px;
      border-top: 1px solid #f5f5f5;
  }

  .l-single-content {
    max-width: 320px;
    margin: 0 auto;
  }
}


.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
button {
  min-height: 1.5em;
  border: 0;
  outline: 0;
  cursor: pointer;
}


//フッター部分のクラス名は「%footer.LogoutFooter」とする（内容はtopページフッターと同じ）
.LogoutFooter {    //バナー+フッター部分の装飾（親クラス「LogoutFooter」で括った）

  //LogoutFooterクラス以下のトップページフッター部分は、部分template「mainfooter.scss」で記述
}


//出品ボタン部分のクラス名は「.LogoutPurchaseBtn」とする（内容はtopページ出品ボタンと同じ）
.LogoutPurchaseBtn {

  //LogoutPurchaseBtnクラス以下のトップページフッター部分は、部分template「purchasebtn.scss」で記述
}



//ここから、ユーザーメニューバー画面（=users/menu.html）の装飾

//ヘッダー部分のクラス名は「%header.MenuHeader」とする（内容はtopページヘッダーと同じ）
.MenuHeader {    //topページヘッダー部分の装飾（クラス名は「MenuHeader」）
  padding: 0 60px;
}


//コンテンツ表示部分のクラス名は「%main.l-container.clearfix」とする
.l-container {
  margin: 40px auto 0;
  width: 700px;    //メニューバーを左右中央に表示するなら280pxで合わせる
  padding: 0 0 40px;
  display: block;


    .l-content {
      float: none;
      width: 700px;
      background-color: #3CCACE;
      border-radius: 4px;

      .mypage-user-icon {
        height: 200px;
        position: relative;
        padding: 20px;
        background: url(/jp/assets/img/mypage/user-bg.jpg?25704017);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        a {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
          color: #333;
          text-decoration: none;
        }

        figure {
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;

          fieldset, img {
            border: 0;
            width: 100%;
            vertical-align: bottom;
          }
        }

        .bold {
          margin: 8px 0 0;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4;
        }

        .mypage-number {

          div {
          display: inline-block;
          font-size: 14px;

          +div {
            margin: 0 0 0 16px;
          }
        }

          span {
            margin: 0 0 0 8px;
            font-size: 16px;
          }
        }
      }
    }


  .l-side {
      float: none;    //左右に並べる状態を外す
      width: 280px;

    .mypage-nav {

      ul.mypage-nav-list {
        margin: 8px 0 0;

        li {

          a.mypage-nav-list-item {
            position: relative;
            display: block;
            min-height: 48px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
            text-decoration: none;

            i {
              position: absolute;
              top: 50%;
              right: 16px;
              color: #ccc;
              transform: translate(0, -50%);
              transition: all ease-out .2s;
              display: inline-block;
              font-family: 'icon-font';
              speak: none;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;

              &::before {
                content: '\e006';
              }
            }
          }
        }

        .mypage-nav-head {
          margin: 40px 0 0;
          font-size: 16px;
        }
      }
    }
  }
}


//フッター部分のクラス名は「%footer.MenuFooter」とする（内容はtopページフッターと同じ）
.MenuFooter {    //バナー+フッター部分の装飾（親クラス「MenuFooter」で括った）
}


//出品ボタン部分のクラス名は「.MenuPurchaseBtn」とする（内容はtopページ出品ボタンと同じ）
.MenuPurchaseBtn {
}



//ここから、ユーザー新規登録画面01（=users/register_signup.html）の装飾
.Single-Container {
  background-color: #f5f5f5;
}

//Single-Containerクラス以下のヘッダー部分および操作経過バー部分は、部分template「userheader.scss」で記述（操作経過バー部分もsass装飾のみ部分templateに記述）

//メイン部分

//大枠部分
.Single-Main {
  .L-Single-Container {
    width: 700px;
    margin: 0 auto;
    background: #fff;

    &__Head{
      padding: 16px;
      color: #333;
      font-size: 22px;    //追記
      padding: 32px;    //追記
      line-height: 1.5;    //追記
      text-align: center;    //追記
    }

    &__Form {
      padding: 24px 16px 40px;
      border-top: 1px solid #eee;    //追記

      &__Content{
        max-width: 343px;
        margin: 0 auto;
      }

      &__Text {
        margin: 8px 0 0;
        color: #888;
        line-height: 1.5;
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
  }

  //各入力フォームの装飾
  .Form-Group{
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    padding-bottom: 30px;

    &__Label {
      font-weight: 600;
      color: F5F5F5;
      font-size: 14px;
    }

    &__Require {
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }

    &__Input {
      width: 100%;
      margin: 8px 0 0;    //変更（元は「margin: 2px 0 0;」）
      height: 48px;    //変更（元は「height: 24px;」）
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }

    &__Info {
      margin: 8px 0 0;
      color: #888;
      line-height: 1.5;
      font-size: 14px;
      margin-bottom: 30px;
    }

    &__Confirmation{
      font-weight: bold;
    }

    &__Explanation{
      color: #333333;
      font-size: 14px;
    }
  }

  //名前入力部分の左右配置
  .Half{
    display: flex;

    &__Left{
      margin-left: 14px;
      width: calc(50% - 6px);
      display: inline-block;
    }

    &__Right{
      width: calc(50% - 6px);
      display: inline-block;
    } 
  }

  //生年月日入力フォーム
  .Birthday-Wrap {
    &__Select {
      display: inline-block;
      width: calc(30% - 30px); 

      &__Form{
        margin: 8px 0 0;    //追記（他項目に合わせて）
        height: 48px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        width: 75px;
        cursor: pointer;
      }
    }

    &__Date{
      display: inline-block;
      text-align: center;
      color: #333333;
    }
  }

  //送信ボタン
  .Btn-Default{
    display: block;
    width: 343px;
    line-height: 48px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }

  //本人情報の登録について+矢印
    //①文章
  .Text-Right{
    position: relative;
    padding:42px 5px 42px 0;
    font-size: 14px;
    text-align: right;
  }
    //②矢印部分
  .Icon-Arrow-Right{
    position: absolute;
    top: 47px;
    right: 0px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #0199E8;
    border-right: solid 2px #0199E8;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  //青文字装飾
  .Blue-Character {
    color: #0099e8;
    text-decoration: none;
  }

  //リキャプチャ
  .Recaptcha-Term{
    padding: 8px 16px;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    line-height: 20px;
    margin-bottom: 36px;
    color: #888888;
    font-size: 12px;
  }
}

// //以下フッター
.Single-Footer {
  height: 250px;
  padding: 40px 0;
  text-align: center;
}



//ここから、ユーザー新規登録画面02（=users/register_address.html）の装飾
* {
  box-sizing: border-box;
}

.Single-Container {
  background-color: #f5f5f5;
}

.L-Single-Container {
  width: 700px;
  margin: 0 auto;
  background: #fff;

  .Address-Content{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;

    .Address-Content-Chapter-Container{
      margin: 0;
      background: #fff;

      .Address-Content-Chapter-Head {
        font-size: 22px;
        padding: 32px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        line-height: 1.4;
      }

      .Address-Content-Single-Inner.Address-Content-Registration-Form{
        padding: 40px 40px 64px;
      }

      .Address-Content-Single-Inner{

        .Address-Content-Single-Content{
          max-width: 343px
          margin 0 auto;

          .Form-Group{
            margin-top: 32px;

            label{
              font-weight: 600;
              display: inline-block;
            }

            .Form-Require{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              background: #ea352d;
            }

            .Input-Default{
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }

            .Select-Wrap{
              margin: 8px 0 0;
              position: relative;
              background: #fff;

              .Icon-Arrow-Bottom{
                position: absolute;
                right: 16px;
                top: 50%;
                z-index: 2;
                color: #888;
                font-size: 8px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                display: inline-block;
                font-family: 'icon-font';
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
              }

              .Select-Default{
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
              }
            }

            .Form-Arbitrary{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              background: #ccc;
            }
          }

          .Btn-Red{
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
          }

          .Btn-Default{
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid transparent;
            margin-top: 32px;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Single-Footer {
  background-color: #f5f5f5;
  height: 250px;
  padding: 40px 0;
  text-align: center;
}


