-#ユーザー関連画面のフッター（部分template）

-# %body

-# %footer.Single-Footer
%nav
  %ul.Clearfix__Footer
    %li
      =link_to "プライバシーポリシー", "#"

    %li
      =link_to "FURIMA利用規約", "#"

    %li
      =link_to "特定商取引に関する表記", "#"

= link_to image_tag "/logo.png", class: "Furima-Logo"
%p
  %small © FURIMA, Inc.


